// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  baru:       #273241,
  baru2:      #4051e4,
  baru3:      rgba(39, 50, 65, 0.904),
  baru4:      rgba(9, 75, 168, 0.623),
  wicon:      #f0ebeb,
  but :       #fd4d73,
  but2:        #739e0e
  
 
  //2d4b7c
  //34393f
  
);

$text-input-md-highlight-color-invalid: transparent;
$text-input-md-highlight-color-valid: transparent;
$text-input-md-show-invalid-highlight: transparent;
$text-input-md-highlight-color: transparent;
$text-input-md-show-valid-highlight: transparent;

$searchbar-md-input-background-color:	rgba(18, 17, 19, 0.301);	

$searchbar-md-input-placeholder-color:	#aeaeae;	

$searchbar-md-input-text-color:	#dfdddd;
$searchbar-md-input-border-radius:	2px;
$searchbar-md-padding-top	:5px;
$searchbar-md-input-height:	auto;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$range-md-bar-height:	3px;
$range-md-pin-font-size:	12px;
$range-md-knob-width:	42px;



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
