<ion-header>

  <ion-navbar color="baru3">
    <ion-title>{{stockItem.namaBrg}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg">
  <ion-card>
    <ion-card-content>
      <ion-list no-lines>
          
          <ion-item [hidden]="!tanggalmalu">
              <ion-datetime type="datetime-local" displayFormat="DD/MM/YY HH:mm:ss" [(ngModel)]="stockItem.tanggal"></ion-datetime>
          </ion-item>
          <ion-input type="text" [(ngModel)]="wadahnya" [hidden]="!carian"></ion-input>
          <ion-input type="text" [(ngModel)]="jikasama" [hidden]="!carian"></ion-input>
          <ion-toggle [(ngModel)]="isToggled" (ionChange)="notify()"></ion-toggle>
            <ion-item [hidden]="!nmbrg1">
                <ion-label class="label1" stacked><span class="span">Barang</span></ion-label>
                <ion-select [(ngModel)]="stockItem.namaBrg" class="wselect">
                  <ion-option value="Benih Bayam" >Benih Bayam</ion-option>
                  <ion-option value="Benih Kailan" >Benih Kailan</ion-option>
                  <ion-option value="Benih Kale" >Benih Kale</ion-option>
                  <ion-option value="Benih Kangkung" >Benih Kangkung</ion-option>
                  <ion-option value="Benih Sawi Caisim" >Benih Sawi Caisim</ion-option>
                  <ion-option value="Benih Sawi Pakchoy" >Benih Sawi Pakchoy</ion-option>
                  <ion-option value="Benih Sawi Shamhong" >Benih Sawi Shamhong</ion-option>
                  <ion-option value="Benih Selada" >Benih Selada</ion-option>
                  <ion-option value="Gelas Netpot" >Gelas Netpot</ion-option>
                  <ion-option value="Nutrisi">Nutrisi</ion-option>
                  <ion-option value="PH Down">PH Down</ion-option>
                  <ion-option value="Plastik Packing">Plastik Packing</ion-option>
                  <ion-option value="Rockwool">Rockwool</ion-option>
                  <ion-option value="Selotip">Selotip</ion-option>
                </ion-select>
            </ion-item>
            <ion-item [hidden]="!nmbrg2">
                <ion-label floating>Barang</ion-label>
                <ion-input type="text" [(ngModel)]="stockItem.namaBrg"></ion-input>
              </ion-item>
              <ion-item [hidden]="!stts">
                  <ion-input type="text" [(ngModel)]="stockItem.status"></ion-input>
                </ion-item>
                <ion-toggle [(ngModel)]="isToggled2" (ionChange)="notify2()"></ion-toggle>
            <ion-item [hidden]="!stn1">
              <ion-label class="label1" stacked><span class="span">Satuan</span></ion-label>
              <ion-select  [(ngModel)]="stockItem.satuan" class="wselect">
                <ion-option value="Set">Set</ion-option>
                <ion-option value="Slab">Slab</ion-option>
                <ion-option value="Liter">Liter</ion-option>
                <ion-option value="Pack">Pack</ion-option> 
                <ion-option value="Pcs">Pcs</ion-option>
              </ion-select>
              </ion-item>
              <ion-item [hidden]="!stn2">
                  <ion-label floating>Satuan</ion-label>
                  <ion-input type="text" [(ngModel)]="stockItem.satuan"></ion-input>
                </ion-item>
         
                <ion-item [hidden]="!stts">
                    <ion-input type="text" [(ngModel)]="stockItem.status"></ion-input>
                  </ion-item>
                  <ion-item [hidden]="!stts">
                      <ion-input type="text" [(ngModel)]="stockItem.status2"></ion-input>
                    </ion-item>
            <ion-item id="isiketstock" >
                <ion-label stacked><span class="span">Jumlah</span></ion-label>
                <ion-input class="inputjml" disabled="true" [(ngModel)]="stockItem.jumlahBrg"></ion-input>
                <ion-range class="rangejml" min="0" max="50" pin="true" [(ngModel)]="stockItem.jumlahBrg" color="danger">
                   <ion-icon range-left small name="jumlahBrg"></ion-icon>
                   <ion-icon range-right name="jumlahBrg"></ion-icon>
                </ion-range>   
            </ion-item>
           
          <br>
          <ion-item>
              <ion-label floating>Catatan</ion-label>
              <ion-input type="text" maxLength="30" [(ngModel)]="stockItem.note"></ion-input>
           </ion-item>
          <br>
            <br>
            <div id="button" *ngIf="jikasama==1 || !stockItem.namaBrg || !stockItem.satuan || stockItem.jumlahBrg <= 0 || !stockItem.jumlahBrg">
              <button ion-button color="but" block (click)="editStock(stockItem)" disabled="true">Ubah</button>
            </div>
            <div id="button" *ngIf="jikasama != 1 && stockItem.namaBrg && stockItem.satuan && stockItem.jumlahBrg > 0 && stockItem.jumlahBrg">
            <button ion-button color="but" block (click)="editStock(stockItem)">Ubah</button>
          </div>
            <ion-item *ngFor="let item of (filteredItems)?.slice().reverse()" [hidden]="!carian">
                <div class="tanggal">{{item.tanggal}}</div>
                <span class="judul">{{item.namaBrg}}</span><br>
                <span class="isi">Jumlah : {{item.jumlahBrg}}</span> <span class="isi"> {{item.satuan}}</span><br>
                
                <span class="note" *ngIf="item.note">catatan : {{item.note}}</span>
               
              </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
</ion-content>
